<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Dashboard</title>
    <!-- Include Materialize CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        .btn {
            background-color: #340a88 !important;
            color: white !important;
            width: 60%;
            border-radius:20px;
        }
        .card{
            text-align:center !important;
            border-radius:20px;
        }
        .material-icons{
            color:#340a88 !important;
            font-size:40px;
        }
        .card .card-action{
            background-color: transparent !important;
        }
    </style>
</head>
<body>

<div class="container">
<div class="row">
        {% if payments %}
            {% for payment in payments %}
                <div class="col s12 m6 l4">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title" style="font-size:16px;">Customer: #{{ payment.customer.username }}</span>
                            <p><strong>Message:</strong> {{ payment.room_booking }}</p>
                            <p><strong>Amount:</strong> {{ payment.amount }}</p>
                            <p><strong>Payment Date:</strong> {{ payment.payment_date }}</p>
                            <p><strong>Is successful:</strong> {{ payment.is_successful }}</p>
                        </div>
                        <div class="card-action">
                            <!-- Add any action buttons if necessary -->
                        </div>
                    </div>
                </div>
            {% endfor %}


        {% else %}
            <p>You have no bookings.</p>
        {% endif %}
    </div>
    <div class="center-align">
<!--        <a href="{% url 'edit_profile' %}" class="btn">Edit Profile</a>-->
        {% if request.user.is_staff %}
        <a href="{% url 'admin_dashboard' %}" class="btn" style="width:20%;">Home</a>
        {% else %}
        <a href="{% url 'customer_dashboard' %}" class="btn" style="width:20%;">Home</a>
        {% endif %}

    </div>
</div>

<!-- Modals for Profile, Booking, Previous Bookings, Feedback, and Logout -->
<!-- You can add the modal content for each option here -->

<!-- Include Materialize JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    // Initialize Materialize modals
    document.addEventListener('DOMContentLoaded', function() {
        var modals = document.querySelectorAll('.modal');
        M.Modal.init(modals);
    });
</script>
</body>
</html>